---
layout: layouts/example.njk
title: Auto Suggestion using Radio Buttons with other option
description: An example of the auto suggest pattern using radio buttons and an option for the user to add their own response
arguments: auto-suggestion
---
{% from 'tel/components/auto-suggestion/macro.njk' import telAutoSuggestion %}

{{ telAutoSuggestion({
  id: "radio-button-example",
  input_name: "search-query",
  placeholder: "Search roles",
  type: "Radio",

  show_other: true,
  other_text: "If you cant find your role select other and enter your role manually",
  other_buttontext: "Other",
  other_label: "Your role",
  
  menu_items: [
    {
      text: "Midwife - Tutor",
      value: "midwife-tutor",
      type: "Radio",
      hint: "Students"
    },
    {
      text: "Nursing Associate",
      value: "nursing-associate",
      type: "Radio",
      hint: "Nursing and Midwifery Registered"
    },
    {
      text: "Nurse",
      value: "nurse",
      type: "Radio",
      hint: "Nursing and Midwifery Registered"
    },
    {
      text: "Health Visitor",
      value: "health-visitor",
      type: "Radio",
      hint: "Nursing and Midwifery Registered"
    }
  ],

  selected_items: [],
  filters: []
}) }}